@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
    }

ul {
    display: flex;
    list-style: none;
}

.inicio-button {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.inicio-button:hover {
    color: var(--textos);
}

.paso-button{
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-right: 13px;
}

.paso-button:hover{
    background-color: var(--gris-claro);
}

.generales-button{
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-right: 13px;
}

.generales-button:hover{
    background-color: var(--gris-claro);
}

.success-button {
    background-color: var(--mensaje-usuario-verde);
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.success-button p{
    color: #FFffFF;
}

.error-button {
    background-color: var(--mensaje-usuario-rojo);
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.error-button p{
    color: #FFffFF;
}

.info-button {
    background-color: var(--mensaje-usuario-amarillo);
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.info-button p{
    color: #FFffFF;
}

.grilla{
    width: 1024px;
    margin: 0 auto 50 auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
}

.encabezados {
    text-align: center;
    color: var(--titulo-Grilla);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid var(--borde-inferior-Grilla);
}

tbody tr:hover {
    background-color: rgb(250, 250, 250);
}

tbody td {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--borde-inferior-Grilla);
    padding: 15px 0px;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
}

.lista_datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
}

.texto-path-chico {
    font-size: 11px;
    color: var(--celeste);
}

.mesas_escrutadas {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--celeste);
    border-radius: 5px;
    margin: 2px;
    width: 120px;
    height: 70px;
    color: #FFF;
    font-size: 10px;
}

.electores {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--magenta);
    border-radius: 5px;
    margin: 2px;
    width: 120px;
    height: 70px;
    color: #FFF;
    font-size: 10px;
}

.participacion {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--morado);
    border-radius: 5px;
    margin: 2px;
    width: 120px;
    height: 70px;
    color: #FFF;
    font-size: 10px;
}

.grilla_datos{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
    padding: 5px;
    font-size: 10px;
    color: var(--textos);
    text-align: center;
}